table{
	border-collapse: collapse;
	font-size: 20px;
	font-family: Arial;

}
table td{
	border:2px solid #593369;
	margin: 0;	
	padding: 23px;
}
table tr:hover{
	background-color: #BB8FCE;
}
table td:hover{
	background-color: #BB8F92;
	font-size: 22px;
}