/*	MEDIDAS RELATIVAS: MEDIDAS FLEXIBLES "px" responsive "em" "rem"
	MEDIDAS ABSOLUTAS: VALOR FIJO "cm" "mm" "in" 
	PARA CAJAS: %;

	|| 1em = ...px; ||
*/
body{
	font-size: 10px;	
}

p{
	font-size: 1.5em;
}
h1{
	font-size: 5em; /*5 veces 10px*/
}
h2,h3,h4,h5,h6{
	font-size: 1.5em;
}
b{
	font-size: 1rem;
}
div{
	background: #E9967A;
	font-size: 1rem;
	width: 50%;
}
